<h2>Account</h2>

<div class="thumbnail">
    <img gravatar-src="xebay.userInfo.name">

    <div class="caption">
        <p id="name-display">Name: {{xebay.userInfo.name}}</p>

        <p id="key-display">Key: {{xebay.userInfo.key}}</p>

        <p>Balance: {{xebay.userInfo.balance}}$</p>
    </div>
</div>

<h2>Items</h2>

<div ng-show="xebay.userInfo.items.length == 0">
    <p>You have no item yet</p>
</div>

<table class="table" ng-show="xebay.userInfo.items.length > 0">
    <tr>
        <th class="col-md-2">Category</th>
        <th class="col-md-7">Item</th>
        <th class="col-md-1">Value</th>
        <th class="col-md-1"></th>
    </tr>
    <tr ng-repeat="item in xebay.userInfo.items">
        <td>{{item.category}}</td>
        <td>
            <img ng-src="images/{{item.name}}.png" width="20em" height="20em"/> {{item.name}}
        </td>
        <td>{{item.value}} $</td>
        <td>
            <button class="btn btn-success" ng-show="!item.offered" ng-click="sendOffer(item)">Sell</button>
        </td>
    </tr>
</table>
