<h2>Account</h2>

<div class="thumbnail">
    <img gravatar-src="xebay.userInfo.name" gravatar-size="120">

    <div class="caption">
        <table class="table">
            <tr>
                <td>Name</td>
                <td id="name-display">{{xebay.userInfo.name}}</td>
            </tr>
            <tr>
                <td>Key</td>
                <td id="key-display">{{xebay.userInfo.key}}</td>
            </tr>
            <tr>
                <td>Balance</td>
                <td>{{xebay.userInfo.balance}} $</td>
            </tr>
        </table>
    </div>
</div>

<h2>Items</h2>

<div ng-show="xebay.userInfo.items.length == 0">
    <p>You have no item yet</p>
</div>

<table class="table" ng-show="xebay.userInfo.items.length > 0">
    <tr>
        <th class="col-md-3">Category</th>
        <th class="col-md-5">Item</th>
        <th class="col-md-2">Value</th>
        <th class="col-md-1"></th>
    </tr>
    <tr ng-repeat="item in xebay.userInfo.items | orderBy:'name'">
        <td>{{item.category}}</td>
        <td>
            <img ng-src="images/{{item.name}}.png" width="20em" height="20em"/> {{item.name}}
        </td>
        <td>{{item.value}} $</td>
        <td>
            <button class="btn btn-success" ng-show="!item.offered" ng-click="sendOffer(item)">Sell</button>
        </td>
    </tr>
</table>
