<h2>Play</h2>

<div ng-show="!bidOffer.item">
    <p>There is no offer</p>
</div>

<div id="currentBidOffer" class="thumbnail" ng-show="bidOffer.item">

    <img ng-src="{{bidOffer.item.name ? 'images/' + bidOffer.item.name + '.png' : ''}}"/>

    <div class="caption">

        <div class="progress">
            <div class="progress-bar" style="width: {{bidOffer.timeToLiveSeconds * 10}}%;"></div>
        </div>

        <table class="table">
            <tr>
                <td colspan="2">
                    <p class="flipboard">
                        <span class="flipboardchar">{{bidOffer.timeToLiveSeconds}} s</span>
                    </p>

                    <p class="flipboard">
                        <span class="flipboardchar">{{bidOffer.item.value}} $</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div ng-show="!xebay.logged">
                        <p>Sign in to start bidding</p>
                    </div>

                    <div ng-show="xebay.logged">
                        <button class="btn btn-lg btn-success" ng-click="sendBidOffer(1)">+1</button>
                        <button class="btn btn-lg btn-info" ng-click="sendBidOffer(5)">+5</button>
                        <button class="btn btn-lg btn-warning" ng-click="sendBidOffer(10)">+10</button>
                        <button class="btn btn-lg btn-danger" ng-click="sendBidOffer(50)">+50</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{bidOffer.item.category}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{bidOffer.item.name}}</td>
            </tr>
            <tr>
                <td>Owner</td>
                <td>
                    <div ng-show="bidOffer.owner">
                        <img gravatar-src="bidOffer.owner" width="20em" height="20em"/> {{bidOffer.owner}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Bidder</td>
                <td>
                    <div ng-show="bidOffer.bidder">
                        <img gravatar-src="bidOffer.bidder" width="20em" height="20em"/> {{bidOffer.bidder}}
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>