<h2>Users</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Key</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td colspan="3">
            <input id="name" type="text" class="form-control" placeholder="Name" ng-model="newUserName">
        </td>
        <td>
            <button class="btn btn-success" ng-click="register()">
                <span class="glyphicon glyphicon-plus"/>
            </button>
        </td>
    </tr>
    <tr ng-repeat="user in users | orderBy:'name'">
        <td>
            <img gravatar-src="user.name" width="20em" height="20em" /> {{user.name}}
        </td>
        <td>{{user.key}}</td>
        <td>
            <button class="btn btn-danger" ng-click="unregister(user.key)">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </td>
        <td>
            <button class="btn btn-{{user.mailed ? 'success' : 'danger'}}" ng-click="sendKey(user)">
                <span class="glyphicon glyphicon-envelope"/>
            </button>
        </td>
    </tr>
</table>
